
body{
	width: 100%;
	height: 100%;
	background-image: url('images/hero-cover.3.png');
	background-size: 100% 100vh;
	background-repeat: no-repeat;
}
.main-container{
	height: 80%;

}
.container{
	
 
   height: 400px;
    width: 70%;
	
    

    margin:20px 50px 20px 140px;
    
    background-position: center;
}
.container1{
	display: flex;
	height: 150px;
	color: white;
}

.container1{
	display: flex;
	height: 150px;
}
.brand{
	padding-left: 100px
}
.nav{
	display: flex;
	margin-top: 20px;
	gap:50px;
}
.nav1{
	display: flex;
	gap:10px;
	margin-left: 250px;
	margin-bottom: 20px;
	

}
.nav1 a{
	text-decoration: none;
	color: white;
}

.nav2{
	display: flex;
	gap:10px;
	justify-content: center;
}
.nav2 a{
	text-decoration: none;
	color: white;
}
.nav2 button{
	width: 140px;
	height: 20px;
}
.member{
	background-color: lightblue;

}
.container2{
	padding-top: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 400px;
	padding-bottom: 200px;
}
.para{
	text-align: center;
	margin-top: 10px;
}
.para h1{
	color: white;
	font-size: 50px;
}
.para p{
	color: white;
}
.buttons2{
	
	
}
.get{
	background-color: lightblue;
	border-radius: 10px;
}
.learn{
border-radius: 10px;
}
.container3{
	display: flex;
	flex-direction: row;
	gap:20px;
	margin: 0px;
	padding-top:50px;
	position: absolute;
	top:430px;
	justify-content: center;
	margin-left: 10px;
	
}
.one{
	background-color: white;
	width: 20%;

}
.two{
   background-color: white;
   width: 20%;

}
.three{
	background-color: lightblue;
	width: 20%;
	height: 40%;
}
.box{
	
    display: flex;
	flex-direction: row;
	gap:20px;
	margin: 0px;
	padding-top:50px;
	justify-content: center;
}

.main-container2{
	background-color:#f5f5f5;
	width: 100%;
	
}
.industry{
	display: flex;
	flex-direction: column;
	align-items: center;


}
.people{
	display: flex;
	flex-direction: row;
	margin-left: 70px;
	margin-right: 50px;
	gap:30px;
	justify-content: center;
	margin-top: 30px;
}
.people p{
	display: flex;
	justify-content: center;
}
.pic1{
	border: solid white 10px;
	background-color: white;

}
.pic1 img{
	border-radius: 450px;
}
.pic2{
	border: solid white 10px;
	background-color: white;
}
.pic3{
	border: solid white 10px;
	background-color: white;
}

.icons{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap:60px;
	padding-right: 20px;
	/* border: solid 2px; */
	margin-top: 20px;
	height: 50px;
	margin-right: 0px;
    margin-right: 20px;
	
}
.icons img{
    max-width: 30%;
}
.subscribe2{
   display: flex;
   flex-direction: row;
   justify-content: center;
   background-color: tomato;
   gap: 20px;
   margin-left: 70px;
	/* margin-right: 50px; */
   margin-top: 20px;
   width: 86%;
}
.subscribe{
	background: linear-gradient(to right,rgb(0,15,137),red) ;
    border: 1px solid blue;
    border-radius: 5px;
    margin: 5vh 8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.subscribe p{
	font-size: 1.5em;
}
.subscribe input{
	font-size: 2em;
    border-radius: 5px 0px 0px 5px;
}
.subscribe a{
	background-color: dodgerblue;
    padding: 1.5vh 1vw;
}
.email{
	display: flex;
    flex-direction: row;
    align-items: center;
}

.pricing{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}
.check{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap:20px;
	margin-top: 20px;
}
.free{
	border: solid white 20px;
	background-color: white;
	border-radius: 5px;
}
.standard{
	
	background-color: blue;
	border-radius: 5px;
	height: 400px;
	color: white;
	padding-top: 80px;
	border-radius: 8px;
}
.premium{
	border: solid white 20px;
	background-color: white;
	border-radius: 5px;
	
}
 .ref{
	border-color: blue;
	color: blue;
	background-color: lightblue;
}
.branch{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #191970;
	align-items: center;
	height: 600px;
	margin-top: 100px;
	

}
.booking{
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	top:2900px;
	margin-left: 370px;

}
.book {
	background-color: skyblue;
}
.form{
	background-color: white;
	padding-left: 10px;
	 
}
.consulting{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap:20px;
	
	margin-top: 150px;
}
.us{
	background-color: skyblue;
}
.footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap:20px;
	margin-top: 70px;
	background-color: white;
}
.footer h3{
gap:20px;	
}
ul{
list-style-type:none;
}
